

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{pagetitle}} - {{title}}</title>
<meta name="description" content="{{description}}" />
<meta name="keywords" content="{{keywords}}" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link href="/img/style.css" rel="stylesheet" type="text/css" />
<script src='/static/js/my.js' ></script>
<script type="text/javascript" language="javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico' />
 
</head>
<body>


<div id="outerwrapper">

	<div id="header"> 
    	<div id="logo"></div>
    	
        <div id="main_menu">
                {% include "banner.html" %}
        	<div id="navbar_link">
		  {%block top_menu%}  {%endblock%}

                </div>
            
            
        </div>

    </div>
    
    <div id="slider">
        <div id="slider_image" style="height:400px">        
            <div id="project_title">
                Название
            </div>
            <div id="project_desc">
                описание
            </div>
            <div id="control">
                        <div id="sleft"><img class='button' onclick="slider.turn_left()" src="/img/slide_left.jpg"></div>
                    <div id="sright"><img class='button' onclick="slider.turn_right()" src="/img/slide_right.jpg"></div>        
                </div>
            
        </div>
    </div>
    
 </div><!-- end of outerwrapper -->
 
 
    <div id="cont_main">
	    {% block content %}{% endblock %}   	
    </div><!-- end of cont_main -->
	
    <div id="footer">
        
    	<div id="menu_bot">
	      {% block bottom_menu %}{%endblock%}       
	</div> 
        
        <div id="news_bot">
		{% block bottom_news %}{% endblock %}
        </div> 

        <div id="prj_bot">
        		{% block projects %}{% endblock %}
        </div> 
        
               {%include "contacts.html" %}

   
                <div id="copyright">
                        <div id="bot_logo"><img src="/img/bot_logo.jpg"></div>           
                        <div id="cp_tx"><p>2013 ТЕРРАСНЫЕ РЕШЕНИЯ ТМ «ZAGU»</p></div>
                </div>
   
    </div>
    
            
 <script type="text/javascript">      		
       		var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-19065374-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
 </script>
 
<audio controls autoplay>
{% for item in audio_file%}
<source src="/img/{{item.audio}}" type="audio/mpeg" controls="true">

{% endfor %}
 
</audio>

</body>
</html>