 <div id="navbar_link_sec">
        <ul>
	      {% for item in second_menu %}
		
		<li {% if item.current == 1 %}
			class="currentpage2"
		    {% endif %} 
		
		>
		<a href="{{item.link}}">{{item.name}} </a>
		</li>
		
		
	      
	      {% endfor %}

        </ul>
      </div><!-- end of navbar_link -->
<!--        <li class="currentpage2"><a href='#'>ZAGU Classic</a></li>
           <li><a href="#">ZAGU Pool</a></li>
           <li><a href="#">ZAGU Exclusive</a></li>
           <li><a href="#">ZAGU Kuga</a></li>
           <li><a href="#">ZAGU Murris</a></li>
           <li><a href="#">ZAGU Tea House</a></li>
           <li><a href="#">Garden Lights</a></li>      
      -->
      