#max_width_conf .max_width {
    padding: 0 20px;
}

#max_width_conf div.max_width {
    _width: expression((document.documentElement.clientWidth || document.body.clientWidth)<940?"940px":((document.documentElement.clientWidth || document.body.clientWidth)>1200?"1200px":"100%"))
}

/*-- IE hacks --*/

#max_width_conf .max_width_filter {
    padding: 0 20px;
}

#max_width_conf div.max_width_filter {
    _width: expression((document.documentElement.clientWidth || document.body.clientWidth)<940?"940px":((document.documentElement.clientWidth || document.body.clientWidth)>1200?"1200px":"100%"))
}

/*-- IE hacks --*/

.max_width_conf {
    margin: 13px;
}

div.max_width_conf {
    _width: expression((document.documentElement.clientWidth || document.body.clientWidth)<960?"960px":((document.documentElement.clientWidth || document.body.clientWidth)>960?"960px":"100%"))
}

/*-- IE hacks --*/

#max_width_conf span.button {
    color: #006699;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer
}

#max_width_conf span.hover {
    background: rgb(129, 130, 133)
}

#max_width_conf span.hover_green {
    background: #A4D165
}

#max_width_conf a {
    color: #006699;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

#max_width_conf a:hover {
    text-decoration: underline;
    color: #006699
}

#max_width_conf body {
    background: #ffffff;
    color: black;
    font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0
}

#max_width_conf td {
    font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0;
}

#max_width_conf table {
    border-collapse: collapse;
}

#max_width_conf img {
    border: 0
}

#max_width_conf form {
    padding: 0;
    margin: 0
}

#max_width_conf /*index header*/
#max_width_conf .background_inner_big {
    background: #eaf4f3;
    border-bottom: 1px solid #c2d9d7;
    height: 111px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1
}

#max_width_conf .background_index_big {
    background: #eaf4f3;
    border-bottom: 1px solid #c2d9d7;
    height: 472px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1
}

#max_width_conf .header_line {
    background: #d3d3d3;
    border-top: 1px solid #eaf4f3;
    border-bottom: 1px solid #b1b1b1;
    height: 4px;
    margin-bottom: 16px
}

#max_width_conf .logo_bwp {
    width: 230px
}

#max_width_conf /*menu*/
#max_width_conf .main_menu td {
    vertical-align: top
}

#max_width_conf .main_menu a {
    white-space: nowrap;
}

#max_width_conf .main_menu div {
    display: inline;
}

#max_width_conf .main_menu {
    white-space: nowrap
}

#max_width_conf .main_menu table {
    margin-left: 14px
}

#max_width_conf .a_menu {
    margin-right: 25px
}

#max_width_conf .a_menu_active {
    margin-right: 25px;
    color: black;
}

#max_width_conf .a_menu_active:hover {
    text-decoration: none;
    color: black
}

#max_width_conf .ico_head span {
    font-weight: bold
}

#max_width_conf .ico_head {
    white-space: nowrap
}

#max_width_conf .icons_header_right {
    white-space: nowrap;
    margin-right: 30px
}

#max_width_conf .country_select img {
    margin-bottom: 3px
}

#max_width_conf .line_height_grey {
    width: 1px;
    height: 27px;
    background: #c6cfce;
    margin-left: 15px;
    float: left
}

#max_width_conf .width_search {
    width: 58% !important;
    width: 64%
}

#max_width_conf /*input*/
#max_width_conf .input_search_header input {
    border: none;
    color: #464b50;
    width: 100%
}

#max_width_conf .search_img_but {
    margin-left: 10px
}

#max_width_conf .input_search_header {
    background: url(../images/search_bg_c.png) repeat-x;
    height: 27
}

#max_width_conf /*leave msg*/
#max_width_conf .button_leave_msg {
    background: url(../images/green_button_lt_long.png) no-repeat;
    height: 34px;
    width: 140px;
    margin-left: 30px !important;
    margin-left: 20px;
    position: absolute;
    top: 56px
}

#max_width_conf .button_leave_msg div {
    background: url(../images/green_button_rt.png) no-repeat right;
    width: 156px;
    height: 34px;
    position: absolute
}

#max_width_conf .button_leave_msg a {
    color: #4d7b1b;
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0 0 13px;
    position: absolute
}

#max_width_conf .button_leave_msg a:hover {
    text-decoration: none;
    color: #6fa338;
    margin: 6px 0 0 14px;
}

#max_width_conf .addthis {
    position: absolute;
    margin-left: 194px !important;
    margin-left: 184px
}

#max_width_conf /*kolaj*/
#max_width_conf .kolaj_block_1 h1 {
    font-size: 35px;
    font-weight: normal;
    margin: 85px 0 0 0;
    padding: 0
}

#max_width_conf .kolaj_block_1 p {
    font-size: 16px;
    padding: 0;
    margin: 10px 0 20px 0
}

#max_width_conf .index_kolaj {
    margin: 65px 0 0 45px;
    position: relative
}

#max_width_conf .button_yellow {
    background: url(../images/yellow_button_lt.png) no-repeat;
    height: 34px;
    width: 85px;
    position: absolute
}

#max_width_conf .button_yellow div {
    background: url(../images/yellow_button_rt.png) no-repeat right;
    width: 101px;
    height: 34px;
    position: absolute
}

#max_width_conf .button_yellow a {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 5px 0 0 22px;
    position: absolute
}

#max_width_conf .button_yellow a:hover {
    text-decoration: none;
    color: #fff4ba;
    margin: 6px 0 0 23px;
}

#max_width_conf .header_img_1 {
    position: absolute;
    margin-left: 45% !important;
    margin-left: 41%;
    top: -20px;
}

#max_width_conf .kolaj_circle {
    position: absolute;
    top: 250px
}

#max_width_conf .kolaj_circle div {
    float: left;
    margin: 0 10px 0 0;
    cursor: pointer
}

#max_width_conf .tabs_link a {
    font-size: 20px;
    font-weight: normal;
}

#max_width_conf .tabs_link span {
    font-size: 20px;
    font-weight: normal;
    color: #006699;
    display: block;
    margin-left: 17px
}

#max_width_conf .sub_tabs_index {
    margin: 190px 0 0 30px;
}

#max_width_conf .mrg_tabs a {
    margin: 0 0 0 15px;
    white-space: nowrap
}

#max_width_conf .mrg_tabs img {
    margin: 19px 0 0 0;
}

#max_width_conf .tabs_img1 {
    margin-left: 45px
}

#max_width_conf .tabs_img2 {
    margin-left: 65px !important;
    margin-left: 55px
}

#max_width_conf .tabs_img3 {
    margin-left: 62px !important;
    margin-left: 45px
}

#max_width_conf .tabs_img4 {
    margin-left: 52px !important;
    margin-left: 35px
}

#max_width_conf .width_tabs_over_i1 {
    width: 152px
}

#max_width_conf .width_tabs_over_i2 {
    width: 237px
}

#max_width_conf .width_tabs_over_i3 {
    width: 219px
}

#max_width_conf .width_tabs_over_i4 {
    width: 192px
}

#max_width_conf .tabs_over {
    background: url(../images/tabs_bg_lt.png) repeat-x left;
    height: 111px;
    position: relative
}

#max_width_conf .over_tabs_rt {
    background: url(../images/tabs_bg_rt.png) no-repeat right;
    height: 111px;
    position: absolute;
    width: 7px;
    top: 0;
    right: -7px
}

#max_width_conf .tabs_content td {
    background: #bae6fc
}

#max_width_conf .tabs_content .bg_none_tabs {
    background: none
}

#max_width_conf .content_in_tabs h2 {
    color: #001835;
    font-size: 20px;
    font-weight: normal
}

#max_width_conf .content_in_tabs p {
    color: #5c738e;
}

#max_width_conf .content_in_tabs div {
    float: left;
    width: 30%;
    margin: 0 25px 0 0
}

#max_width_conf .pad_tabs_in {
    padding: 30px 0 30px 30px
}

#max_width_conf /*cat*/
#max_width_conf .categories_index h1 {
    font-size: 23px;
    font-weight: normal;
    padding: 0;
    margin: 40px 0 35px 0
}

#max_width_conf .cat_menu h4 {
    padding: 0 0 0 46px;
    margin: 0 0 8px 0
}

#max_width_conf .cat_a_index {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 0 9px
}

#max_width_conf .cat_menu ul {
    padding: 0;
    margin: 0 0 18px 55px;
}

#max_width_conf .cat_menu li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    line-height: 22px
}

#max_width_conf .picts {
    position: absolute
}

#max_width_conf .categories_index td {
    vertical-align: top;
    width: 33%;
    padding: 0 15px 0 0
}

#max_width_conf /*footer*/
#max_width_conf .footer_grey_line {
    background: #cccccc;
    height: 1px;
    width: 100%;
    margin: 0 0 15px 0
}

#max_width_conf .copy {
    float: left;
    margin-right: 25px
}

#max_width_conf .footer {
    margin: 40px 0 40px 0;
    font-size: 12px;
    color: #666666;
    position: relative;
}

#max_width_conf .footer a {
    font-size: 12px;
}

#max_width_conf .logo_altwork {
    float: right;
    line-height: 18px;
    width: 150px
}

#max_width_conf .footer_log {
    top: 650px;
    position: absolute;
    width: 960px;
    font-size: 12px;
    color: #666666;
}

#max_width_conf .footer_log a {
    font-size: 12px;
}
