

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{pagetitle}} - {{title}}</title>
<meta name="keywords" content="{{keywords}}" />
<meta name="description" content="{{description}}" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link href="/img/style.css" rel="stylesheet" type="text/css" />
<script src='/static/js/my.js' ></script>
<script type="text/javascript" language="javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" language="javascript" charset="utf-8" src="/static/js/jquery.elevatezoom.js"></script>



<link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico' />
 <meta name="google-site-verification" content="_muChh4EJK866b7jRovWxJYlhBp-wmqYSfFqVzC7uWE" />
 <meta name='yandex-verification' content='7f8bd6dfbd9ad5e8' />
</head>
<body>

<div id="outerwrapper">

	<div id="header"> 
    	<div id="logo" onclick="window.location.href='/'"></div>
    	
        <div id="main_menu">
                {% include "banner.html" %}
        	<div id="navbar_link">
		  {%block top_menu%}  {%endblock%}

                </div>            
        </div>

    </div>
    
    <div id="slider">
        <div id="slider_image" style="height:400px">        
            <div id="project_title">
                Название
            </div>
            <div id="project_desc">
                описание
            </div>
            <div id="control">
                        <div id="sleft"><img class='button' onclick="slider.turn_left()" src="/img/slide_left.jpg"></div>
                    <div id="sright"><img class='button' onclick="slider.turn_right()" src="/img/slide_right.jpg"></div>        
                </div>
            
        </div>
    </div>
    
 
 
    <div id="cont_main">
	    {% block content %}{% endblock %}   	
    </div><!-- end of cont_main -->
	
    <div id="footer">
        
    	<div id="menu_bot">
	      {% block bottom_menu %}{%endblock%}       
	</div> 
        
        <div id="news_bot">
		{% block bottom_news %}{% endblock %}
        </div> 

        <div id="prj_bot">
        		{% block projects %}{% endblock %}
        </div> 
        
               {%include "contacts.html" %}

   
    </div>
    
   <div id="copyright">
                        <div id="bot_logo"><img src="/img/bot_logo.jpg"></div>           
                        <div id="cp_tx"><p>2012-2015 ТЕРРАСНЫЕ РЕШЕНИЯ ТМ «ZAGU»</p></div>
   </div>
   
{% include 'google_counter.html' %}


</div><!-- end of outerwrapper -->

{% include 'audio.html' %}



</body>
</html>
