{% extends "base2.html" %}
{%block top_menu%}
      {% include "top_menu.html" %}
{%endblock%}

{%block second_menu%}
      {% include "second_menu.html" %}
{%endblock%}

{%block content%}

    <div id="cont_main">
    	
    	<div class="list_cont_items" >
            {%for item in content_objects %}
            <div id="art_news_pr">    	
            <div id="art_news">
            <div id="art_news_title"><h2><a href="{{item.link}}">{{item.title}}</a></h2></div>
            <div id="art_news_date"><h4> {{item.pub_date|date:"d.m.Y"}}</h4></div>
    <!--        <div id="news_pr_img"></div> TODO images-->
            <div id="art_news_text"><p>    {% autoescape off %}{{item.introtext}} {% endautoescape %}</p></div>
            
            <div id="read"><a href="{{item.link}}" class="white_link">Прочесть</a></div>
            </div>        
            </div>
            {%endfor%}
            
        {% if prev_page%}
        <div class="left" style="margin-top:11px;margin-left:60px">
                <a class="white_link"  href='{{prev_page}}'> Новые </a>

        </div>
        {%endif%}
        {% if next_page%}
        <div class="right" style="margin-top:11px" >
                <a class="white_link" href='{{next_page}}'> Предыдущие </a>
        
        </div>
        {%endif%}
        </div>
  
	</div><!-- end of cont_main -->
{%endblock%}

{%block bottom_menu%}
    {% include "bottom_menu.html" %}
{%endblock%}
{%block bottom_news%}
    {% include "bottom_news.html" %}
{%endblock%}
{%block projects%}
    {% include "projects_block.html" %}
{%endblock%}