{% extends "base2.html" %}
{% block top_menu %}
    {% include "top_menu.html" %}
{% endblock %}

{% block second_menu %}
    {% include 'second_menu.html' %}
{% endblock %}



{% block content %}
    <div id="cont_main_prod">
        <div id="art_news_pr">
            <center>
                <div id="prod_fulltext" style="width: 800px">
                    <div id="art_news_title"><h2>Для веранды</h2></div>
                    <div id="product_name">
                        <h3>Давайте представим как может выглядить ваша веранда в загородном доме с доской Zagu
                            Classic</h3>

                        <p>*Нажмите на любой цвет доски, что бы посмотреть как будет выглядить веранда</p>
                        <br/>
                    </div>
                    <!--                        <div id="prod_fulltext"><img src="/img/configurator/pool.jpg" width="128"></div>-->
                    <div id="color">
                        {% for item in pool_colors %}
                            <div class="col_img button"
                                 onclick="config_change_img(this,'{{ MEDIA_URL }}configurator/{{ item.color_config }}')">
                                <img width="128" src="{{ MEDIA_URL }}{{ item.path }}"/>

                                <div id="color_name">{{ item.title }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </center>
        </div>
        <script>
            function config_change_img(ev, img) {
                $("div.col_img").removeClass('config_highlight');
                $(ev).addClass('config_highlight');
                $("#current_color").attr("src", img);

            }

            $(document).ready(function () {

                $("div.col_img").first().addClass('config_highlight');
            });
        </script>
        <div class="config_color" style="z-index:1">
            <img height="596" src='{{ MEDIA_URL }}configurator/main.png'/>
        </div>
        <div class="config_color" style="z-index:100; position:relative;top: -426px;">
            <img id='current_color' height="416" src='{{ MEDIA_URL }}configurator/slon.png'/>
        </div>
    </div>
{% endblock %}

{% block bottom_menu %}
    {% include "bottom_menu.html" %}
{% endblock %}
{% block bottom_news %}
    {% include "bottom_news.html" %}
{% endblock %}
{% block projects %}
    {% include "projects_block.html" %}
{% endblock %}


