{% load static %}
<div id="contacts">
    <div id="news_bot_title"><p>Контакты</p></div>
    <div id="cont"><br><br>
        г. Днепропетровск,<br>
        ул. Гоголя, 1а,<br><br>
        +38 (067) 630 71 12<br>
        +38 (095) 776 72 63<br>
    </div>
    <div id="read">
        <a href="{% url 'feedback' %}" class="white_link black">
            написать сообщение
        </a>
    </div>
    <div id="social">
        <div id="vk">
            <a href="http://vk.com/zagu_collection">
                <img src="{% static 'images/vk.jpg' %}">
            </a>
        </div>
        <div id="fc">
            <a href="http://instagram.com/zagu_tm?ref=badge">
                <img src="{% static 'images/instagram.png' %}" style="width:29px;height:28px; -webkit-filter: brightness(70%);">
            </a>
        </div>
    </div>
</div>
